:root {
  --sidebar-color: #0a1727;
  --admin-body-color: #eaeff8;
  --upgrade-button-color: #19d895;
  --primary-text-color: #fff;
  --active-bg-color: #2196f3;
  --description-color: #87a1c9;
  --light-gray: #f2f2f2;
  --new-orders-bg: #8862e0;
  --income-bg: #19d895;
  --expenses-bg: #2196f3;
  --new-users-bg: #ffaf00;
  --violet-bg: #7042da;
  --dark-red-color: #ff6258;
  --divider: #dee2e6; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 87.5%;
  background: var(--admin-body-color); }

.container {
  display: grid;
  grid-template-columns: 12rem [full-start] 1fr [full-end];
  position: relative; }
  @media screen and (max-width: 56.25em) {
    .container {
      grid-template-columns: 1fr; } }

.dashboard {
  margin: 1.42857rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 43.75em) {
    .dashboard {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1.42857rem; } }
  @media screen and (max-width: 31.5em) {
    .dashboard {
      margin: 0.71429rem 2.85714rem; } }
  @media screen and (max-width: 43.75em) {
    .dashboard__title {
      grid-column: 1/-1; } }
  .dashboard__title-01 {
    color: var(--description-color); }
  .dashboard__time {
    align-items: center; }
    .dashboard__time > * {
      padding: 0.57143rem 0.71429rem;
      border: none;
      background-color: white; }
      .dashboard__time > *:not(:nth-child(1)) {
        border-left: 0.14286rem solid var(--divider); }
      .dashboard__time > *:not(:nth-child(1)) {
        margin-left: -0.35714rem; }
      .dashboard__time > *:hover {
        cursor: pointer; }
  .dashboard__date {
    align-items: center; }
    @media screen and (max-width: 43.75em) {
      .dashboard__date {
        display: flex;
        justify-content: center; } }
    .dashboard__date > * {
      padding: 0.71429rem;
      border: none;
      background-color: white; }
      .dashboard__date > *:not(:nth-child(1)) {
        border-left: 0.14286rem solid var(--divider); }
      .dashboard__date > *:not(:nth-child(1)) {
        margin-left: -0.35714rem; }
    .dashboard__date-day {
      font-size: 0.9rem; }
      .dashboard__date-day:hover {
        cursor: pointer; }
    .dashboard__date-prev__icon {
      width: 0.8rem;
      height: 0.8rem; }
    .dashboard__date-prev:hover {
      cursor: pointer; }
    .dashboard__date-next__icon {
      width: 0.8rem;
      height: 0.8rem; }
    .dashboard__date-next:hover {
      cursor: pointer; }

.analytics {
  margin: 1.42857rem;
  grid-column: full-start/full-end;
  grid-gap: 1.42857rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr)); }
  @media screen and (max-width: 31.5em) {
    .analytics {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      margin: 2.85714rem;
      grid-gap: 2.85714rem; } }
  .analytics__new-orders {
    background-color: var(--new-orders-bg);
    padding: 2.14286rem 2.85714rem;
    position: relative;
    padding: 2.85714rem 2.14286rem 1.42857rem 2.14286rem;
    border-radius: 0.35714rem;
    transition: transform 0.6s ease-in-out; }
    .analytics__new-orders:hover {
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2), 0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.06); }
    .analytics__new-orders--heading {
      text-transform: uppercase;
      font-size: 0.6rem; }
    .analytics__new-orders--numbers {
      color: var(--primary-text-color);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem; }
    .analytics__new-orders--rate {
      color: var(--primary-text-color); }
    .analytics__new-orders--img {
      background: white;
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0.9rem;
      border-radius: 50%; }
      .analytics__new-orders--img__icon {
        width: 100%;
        height: 100%;
        fill: var(--new-orders-bg); }
    .analytics__new-orders--pix {
      padding-top: 1rem; }
      .analytics__new-orders--pix img {
        width: 100%; }
  .analytics__income {
    padding: 2.14286rem 2.85714rem;
    background-color: var(--income-bg);
    padding: 2.85714rem 2.14286rem 1.42857rem 2.14286rem;
    position: relative;
    border-radius: 0.35714rem;
    transition: transform 0.6s ease-in-out; }
    .analytics__income:hover {
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2), 0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.06); }
    .analytics__income--heading {
      text-transform: uppercase;
      font-size: 0.6rem; }
    .analytics__income--numbers {
      color: var(--primary-text-color);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem; }
    .analytics__income--rate {
      color: var(--primary-text-color); }
    .analytics__income--img {
      background: white;
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0.8rem;
      border-radius: 50%; }
      .analytics__income--img__icon {
        width: 100%;
        height: 100%;
        fill: var(--income-bg); }
    .analytics__income--pix {
      padding-top: 1rem; }
      .analytics__income--pix img {
        width: 100%; }
  .analytics__expenses {
    padding: 2.14286rem 2.85714rem;
    background-color: var(--expenses-bg);
    padding: 2.85714rem 2.14286rem 1.42857rem 2.14286rem;
    position: relative;
    border-radius: 0.35714rem;
    transition: transform 0.6s ease-in-out; }
    .analytics__expenses:hover {
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2), 0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.06); }
    .analytics__expenses--heading {
      text-transform: uppercase;
      font-size: 0.6rem; }
    .analytics__expenses--numbers {
      color: var(--primary-text-color);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem; }
    .analytics__expenses--rate {
      color: var(--primary-text-color); }
    .analytics__expenses--img {
      background: white;
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0.8rem;
      border-radius: 50%; }
      .analytics__expenses--img__icon {
        width: 100%;
        height: 100%;
        fill: var(--expenses-bg); }
    .analytics__expenses--pix {
      padding-top: 1rem; }
      .analytics__expenses--pix img {
        width: 100%; }
  .analytics__new-users {
    padding: 2.14286rem 2.85714rem;
    background-color: var(--new-users-bg);
    padding: 2.85714rem 2.14286rem 1.42857rem 2.14286rem;
    position: relative;
    border-radius: 0.35714rem;
    transition: transform 0.6s ease-in-out; }
    .analytics__new-users:hover {
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2), 0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.06); }
    .analytics__new-users--heading {
      text-transform: uppercase;
      font-size: 0.6rem; }
    .analytics__new-users--numbers {
      color: var(--primary-text-color);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem; }
    .analytics__new-users--rate {
      color: var(--primary-text-color); }
    .analytics__new-users--img {
      background: white;
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0.9rem;
      border-radius: 50%; }
      .analytics__new-users--img__icon {
        width: 100%;
        height: 100%;
        fill: var(--new-users-bg); }
    .analytics__new-users--pix {
      padding-top: 1rem; }
      .analytics__new-users--pix img {
        width: 100%; }

.summary {
  display: grid;
  row-gap: 3.57143rem;
  grid-template-columns: 1.42857rem repeat(2, 1fr) 1.42857rem repeat(2, 1fr) 1.42857rem repeat(2, 1fr) 1.42857rem repeat(2, 1fr);
  grid-template-rows: 2.85714rem repeat(3, 1fr);
  margin-right: 1.42857rem; }
  @media screen and (max-width: 54.375em) {
    .summary {
      display: flex;
      flex-direction: column;
      margin: 1.42857rem 2.85714rem; } }
  .summary__revenue {
    grid-column: 2/7;
    grid-row: 1/5;
    padding: 0.71429rem 2.85714rem;
    background-color: var(--primary-text-color); }
    @media screen and (max-width: 56.25em) {
      .summary__revenue {
        grid-column: 1/7;
        margin-left: 1.42857rem; } }
    @media screen and (max-width: 54.375em) {
      .summary__revenue {
        margin-left: 0; } }
    .summary__revenue-title {
      margin-left: -2.85714rem;
      margin-right: -2.85714rem;
      padding: 1.07143rem 2.85714rem;
      font-weight: bold;
      font-size: 1.2rem;
      border-bottom: 0.07143rem solid #ccc; }
    .summary__revenue-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1.42857rem;
      grid-gap: 0.71429rem; }
      .summary__revenue-info--product {
        padding: 0.71429rem 1.42857rem;
        text-align: center;
        font-size: 1.2rem; }
        @media screen and (max-width: 56.25em) {
          .summary__revenue-info--product {
            padding: 0.71429rem 0; } }
      .summary__revenue-info--sales {
        padding: 0.71429rem 1.42857rem;
        text-align: center;
        font-size: 1.2rem; }
      .summary__revenue-info--costs {
        padding: 0.71429rem 1.42857rem;
        text-align: center;
        font-size: 1.2rem; }
      .summary__revenue-info--revenue {
        grid-column: 2/3;
        padding: 0.71429rem 1.42857rem;
        font-size: 1.2rem;
        text-align: center; }
    .summary__revenue-img {
      grid-column: 2/6; }
      .summary__revenue-img img {
        width: 100%; }
  .summary__tops {
    grid-column: 8/13;
    grid-row: 1/5;
    padding: 0.71429rem 2.85714rem;
    background-color: #fff; }
    .summary__tops-title {
      margin-left: -2.85714rem;
      margin-right: -2.85714rem;
      padding: 1.07143rem 2.85714rem;
      font-size: 1.2rem;
      border-bottom: 0.07143rem solid #ccc; }
    .summary__tops-info {
      display: grid;
      grid-gap: 1.42857rem;
      grid-template-columns: 1fr 3fr 1fr;
      margin-left: -2.85714rem;
      margin-right: -2.85714rem;
      padding: 1.42857rem 1.07143rem 2.85714rem 2.85714rem;
      align-items: center; }
      .summary__tops-info:not(:last-child) {
        border-bottom: 0.07143rem solid #ccc; }
      .summary__tops-info--img {
        grid-column: 1/2;
        border: 0.07143rem solid #ccc; }
        .summary__tops-info--img img {
          width: 100%;
          height: 100%;
          padding: 0.71429rem; }
      .summary__tops-info--item__name {
        display: flex;
        align-items: flex-end; }
        .summary__tops-info--item__name-rating {
          width: 1rem;
          height: 1rem; }
          .summary__tops-info--item__name-rating__icon {
            width: 100%; }
      .summary__tops-info--priceList h4 {
        font-size: 1.5rem; }

.activities {
  margin: 1.42857rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.42857rem; }
  @media screen and (max-width: 56.25em) {
    .activities {
      grid-template-columns: repeat(2, 1fr);
      margin-left: 2.85714rem;
      margin-right: 2.85714rem; } }
  @media screen and (max-width: 37.5em) {
    .activities {
      grid-template-columns: 1fr; } }
  .activities__order1 {
    background-color: #fff; }
    .activities__order1-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.42857rem 2.85714rem;
      border-bottom: 0.07143rem solid #ccc; }
    .activities__order1-delivered {
      display: grid;
      grid-template-columns: 1fr 2fr 3fr;
      grid-gap: 2.14286rem;
      padding: 1.42857rem 1.42857rem 1.42857rem 2.85714rem; }
      .activities__order1-delivered--img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%; }
        .activities__order1-delivered--img img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
  .activities__recent {
    background-color: #fff; }
    .activities__recent-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.42857rem 2.85714rem;
      border-bottom: 0.07143rem solid #ccc; }
    .activities__recent-product {
      padding: 1.42857rem 1.42857rem 1.42857rem 2.85714rem; }
      .activities__recent-product--name {
        padding-top: 1.42857rem;
        padding-bottom: 1.42857rem; }
      .activities__recent-product--img {
        height: 8rem;
        width: 14rem;
        border-radius: 0.35714rem; }
        .activities__recent-product--img img {
          width: 100%;
          height: 100%;
          border-radius: 0.35714rem; }
      .activities__recent-product--description {
        margin-top: 2.14286rem;
        margin-bottom: 2.14286rem; }
      .activities__recent-product--broughtIn {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        align-items: center;
        grid-gap: 0.35714rem; }
        .activities__recent-product--broughtIn a {
          text-decoration: none; }
        .activities__recent-product--broughtIn [class^="online"] {
          border: none;
          background-color: var(--violet-bg);
          color: var(--primary-text-color);
          padding: 0.35714rem 0.71429rem;
          border-radius: 2.85714rem; }
          .activities__recent-product--broughtIn [class^="online"]:hover {
            cursor: pointer; }
        .activities__recent-product--broughtIn [class^="customer"] {
          border: none;
          background-color: var(--dark-red-color);
          color: var(--primary-text-color);
          padding: 0.35714rem 0.71429rem;
          border-radius: 2.85714rem; }
          .activities__recent-product--broughtIn [class^="customer"]:hover {
            cursor: pointer; }
  .activities__order2 {
    background-color: #fff; }
    @media screen and (max-width: 56.25em) {
      .activities__order2 {
        grid-column: 1/-1; } }
    .activities__order2-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.42857rem 2.85714rem;
      border-bottom: 0.07143rem solid #ccc; }
    .activities__order2-customer {
      display: grid;
      grid-template-columns: 1fr 3fr 2fr;
      padding: 0.71429rem 2.14286rem 0.71429rem 2.85714rem;
      grid-gap: 1.42857rem;
      align-items: center;
      margin-top: 0.71429rem;
      margin-bottom: 0.71429rem; }
      .activities__order2-customer--profile-pix {
        height: 3rem;
        width: 3rem;
        border-radius: 50%; }
        .activities__order2-customer--profile-pix img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
      .activities__order2-customer--info__name {
        font-weight: bold; }
      .activities__order2-customer--info__id {
        color: gray; }
      .activities__order2-customer--itemsImage {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .activities__order2-customer--itemsImage__image1 {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 0.35714rem;
          margin-right: 0.35714rem; }
          .activities__order2-customer--itemsImage__image1 img {
            width: 100%;
            height: 100%;
            border-radius: 0.35714rem; }
        .activities__order2-customer--itemsImage__image2 {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 0.35714rem; }
          .activities__order2-customer--itemsImage__image2 img {
            width: 100%;
            height: 100%;
            border-radius: 0.35714rem; }

.product {
  margin: 1.42857rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.42857rem; }
  @media screen and (max-width: 47.5em) {
    .product {
      grid-template-columns: 1fr;
      margin-left: 2.85714rem;
      margin-right: 2.85714rem; } }
  .product-category {
    background-color: var(--primary-text-color);
    padding-top: 2.85714rem; }
    .product-category__name {
      text-align: center; }
    .product-category__image {
      text-align: center;
      margin: 1.42857rem auto;
      width: 12rem;
      height: 12rem; }
      .product-category__image img {
        width: 100%;
        height: 100%; }
    .product-category__description {
      text-align: center; }
    .product-category__action {
      margin: 1.42857rem 2.85714rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .product-category__action-price--initial {
        color: var(--description-color);
        text-decoration: line-through; }
      .product-category__action .addCart {
        border: none;
        padding: 0.7143rem;
        border-radius: 0.35714rem;
        color: var(--primary-text-color);
        background-color: var(--active-bg-color); }
        .product-category__action .addCart:hover {
          cursor: pointer; }

.sold-products {
  margin: 1.42857rem; }
  @media screen and (max-width: 47.5em) {
    .sold-products {
      margin-left: 2.85714rem;
      margin-right: 2.85714rem; } }
  .sold-products__title {
    background-color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.85714rem;
    padding-right: 2.85714rem;
    padding-top: 1.42857rem;
    padding-bottom: 1.42857rem; }
    .sold-products__title a {
      text-decoration: none; }
    .sold-products__title-action {
      display: flex;
      padding: 0.35714rem 1.42857rem;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      color: var(--description-color);
      border: 0; }
      .sold-products__title-action:hover {
        cursor: pointer; }
      .sold-products__title-action--img {
        width: 1.5rem;
        height: 1.5rem;
        padding-right: 0.5rem; }
        .sold-products__title-action--img-icon {
          width: 100%;
          height: 100%;
          fill: var(--dark-red-color); }
  .sold-products__table {
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    background-color: #fff;
    border-top: 0.07143rem solid var(--divider);
    border-right: 0.07143rem solid var(--divider); }
    @media screen and (max-width: 37.5em) {
      .sold-products__table {
        display: flex;
        flex-direction: column; } }
    .sold-products__table > * {
      border-right: 0.07143rem solid var(--divider);
      padding: 0.71429rem 1.42857rem; }
  .sold-products__tables {
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    border-right: 0.07143rem solid var(--divider); }
    @media screen and (max-width: 600px) {
      .sold-products__tables {
        display: flex;
        flex-direction: column; } }
    .sold-products__tables > * {
      padding: 1rem;
      display: flex;
      align-items: center;
      border-bottom: 0.07143rem solid var(--divider);
      border-top: 0.07143rem solid var(--divider);
      border-right: 0.07143rem solid var(--divider); }
    .sold-products__tables:nth-child(4), .sold-products__tables:nth-child(6), .sold-products__tables:nth-child(8) {
      background: white; }
    .sold-products__tables:nth-child(3), .sold-products__tables:nth-child(5), .sold-products__tables:nth-child(7) {
      background-color: var(--light-gray); }

.sold-products__img {
  border: 3px solid black;
  height: 2.5rem;
  width: 2.5rem; }

.sold-products__tables-name {
  display: flex;
  align-items: center;
  padding-left: 1rem; }
  .sold-products__tables-name > * {
    margin-right: 1.42857rem; }

.sold-products__tables-name--img {
  height: 3rem;
  width: 3rem;
  border: 0.07143rem solid #ccc;
  padding: 0.35714rem; }
  .sold-products__tables-name--img img {
    width: 100%;
    height: 100%; }

.sold-products__details {
  width: 100%;
  border-collapse: collapse; }
  .sold-products__details th,
  .sold-products__details td {
    padding: 1.16667rem 1.07143rem;
    border: 0.07143rem solid #ddd;
    text-align: center; }
  .sold-products__details .product-name {
    display: flex;
    align-items: center; }
    .sold-products__details .product-name > * {
      margin: 0.71429rem; }
  .sold-products__details .image-product {
    width: 3rem;
    height: 3rem;
    border: 0.07143rem solid #ccc;
    padding: 0.35714rem; }
    .sold-products__details .image-product .image {
      width: 100%;
      height: 100%; }
  .sold-products__details-body tr:nth-child(even) {
    background-color: var(--light-gray); }
  .sold-products__details-body tr:nth-child(odd) {
    background-color: var(--primary-text-color); }

@media screen and (max-width: 37.5em) {
  .sold-products__details-heading {
    display: none; }
  .checkbox {
    display: none; }
  .sold-products__details,
  .sold-products__details-body,
  .sold-products__details tr,
  .sold-products__details td {
    display: block;
    width: 100%; }
  .sold-products__details tr {
    margin-bottom: 1.78571rem;
    border-radius: 0.71429rem;
    border: 0.14286rem solid #ddd; }
  .sold-products__details td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem; }
  .sold-products__details td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.07143rem;
    font-weight: bold;
    text-align: left; } }

.header {
  background: var(--primary-text-color);
  margin: 1.42857rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.71429rem; }
  @media screen and (max-width: 56.25em) {
    .header {
      margin: 1.42857rem 2.85714rem;
      display: none; } }
  .header__cta {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__cta-addbtn {
      display: flex;
      align-items: center;
      text-align: center; }
      .header__cta-addbtn--img {
        padding: 0.71429rem 1.07143rem;
        margin: 0.35714rem;
        background-color: var(--active-bg-color);
        color: var(--primary-text-color);
        font-size: 1.42857rem;
        border: none;
        border-radius: 0.28571rem; }
        .header__cta-addbtn--img:hover {
          cursor: pointer; }
      .header__cta-addbtn--text {
        margin: 0.35714rem;
        font-style: bold;
        font-weight: 500; }
    .header__cta-deletebtn {
      display: flex;
      align-items: center;
      text-align: center; }
      .header__cta-deletebtn--img {
        padding: 0.71429rem 1.07143rem;
        margin: 0.35714rem;
        background-color: var(--active-bg-color);
        color: var(--primary-text-color);
        font-size: 1.42857rem;
        border: none;
        border-radius: 0.28571rem; }
        .header__cta-deletebtn--img:hover {
          cursor: pointer; }
      .header__cta-deletebtn--text {
        margin: 0.35714rem;
        font-style: bold;
        font-weight: 500; }
  .header__search {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header__search-text input {
      padding: 0.71429rem 1.07143rem;
      border: 1px solid whitesmoke; }
      .header__search-text input:focus {
        border: none;
        outline: 0; }
    .header__search-btn button {
      padding: 0.71429rem 1.07143rem;
      border: none;
      color: var(--primary-text-color);
      background-color: var(--active-bg-color);
      font-weight: 600;
      font-style: bold;
      font-size: 1.14286rem;
      border-radius: 0 0.35714rem 0.35714rem 0; }
      .header__search-btn button:hover {
        cursor: pointer; }
  .header__profile {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .header__profile:hover {
      cursor: pointer; }
    .header__profile-pix {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: 0.5rem; }
      .header__profile-pix--001 {
        width: 100%;
        height: 100%;
        border-radius: 50%; }

.header2 {
  background: var(--primary-text-color);
  margin: 1.42857rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.71429rem;
  position: relative;
  margin: 1.42857rem 2.85714rem;
  display: none; }
  @media screen and (max-width: 56.25em) {
    .header2 {
      margin: 1.42857rem;
      display: block; } }
  @media screen and (max-width: 31.5em) {
    .header2 {
      margin: 1.42857rem 2.85714rem; } }
  .header2 [class^="more"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.714286rem; }
  .header2__cta {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header2__cta-addbtn {
      display: flex;
      align-items: center;
      text-align: center; }
      .header2__cta-addbtn--img {
        padding: 0.21429rem 0.57143rem;
        margin-left: 1.42857rem;
        background-color: var(--active-bg-color);
        color: var(--primary-text-color);
        font-size: 1rem;
        border: none;
        border-radius: 0.28571rem; }
        .header2__cta-addbtn--img:hover {
          cursor: pointer; }
      .header2__cta-addbtn--text {
        margin: 0.35714rem;
        font-style: bold;
        font-weight: 500; }
    .header2__cta-deletebtn {
      display: flex;
      align-items: center;
      text-align: center; }
      .header2__cta-deletebtn--img {
        padding: 0.21429rem 0.57143rem;
        margin-left: 0.35714rem;
        background-color: var(--active-bg-color);
        color: var(--primary-text-color);
        font-size: 1rem;
        border: none;
        border-radius: 0.28571rem; }
        .header2__cta-deletebtn--img:hover {
          cursor: pointer; }
      .header2__cta-deletebtn--text {
        margin: 0.35714rem;
        font-style: bold;
        font-weight: 500; }
  .header2__search {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header2__search-text input {
      padding: 0.71429rem 1.07143rem;
      border: 1px solid whitesmoke; }
      .header2__search-text input:focus {
        border: none;
        outline: 0; }
    .header2__search-btn button {
      padding: 0.71429rem 1.07143rem;
      border: none;
      color: var(--primary-text-color);
      background-color: var(--active-bg-color);
      font-weight: 600;
      font-style: bold;
      font-size: 1.14286rem;
      border-radius: 0 0.35714rem 0.35714rem 0; }
      .header2__search-btn button:hover {
        cursor: pointer; }
  .header2__profile-pix {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem; }
    .header2__profile-pix--001 {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .header2__more {
    display: flex;
    align-items: center;
    margin-left: 2rem; }
    .header2__more-btn {
      border: none;
      border-radius: 0;
      background-color: var(--description-color);
      height: 2px;
      width: 2rem; }
      .header2__more-btn::before, .header2__more-btn::after {
        background-color: var(--description-color);
        height: 2px;
        width: 2rem;
        content: "";
        display: block; }
      .header2__more-btn::before {
        transform: translateY(-0.5rem); }
      .header2__more-btn::after {
        transform: translateY(0.4rem); }

#more:not(:target) {
  right: -100%;
  transition: right 1.5s; }

#more:target {
  right: 0;
  transition: right 1s; }

.sidebar__admin {
  background: var(--sidebar-color);
  color: var(--primary-text-color);
  padding: 1.42857rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 56.25em) {
    .sidebar__admin {
      display: none; } }
  .sidebar__admin-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sidebar__admin-email, .sidebar__admin-name {
    text-align: center; }
  .sidebar__admin-photo {
    width: 9rem;
    height: 9rem;
    border: 0.14286rem solid transparent;
    border-radius: 0.71429rem;
    margin: 0 auto; }
    .sidebar__admin-photo img {
      width: 100%;
      height: 100%;
      border-radius: 0.71429rem;
      text-align: center; }
  .sidebar__admin-upgrade {
    border: none;
    text-align: center;
    padding: 0.71429rem 1rem;
    background-color: var(--upgrade-button-color);
    color: var(--primary-text-color);
    margin-top: 1rem;
    border-radius: 0.35714rem;
    font-weight: bold; }
    .sidebar__admin-upgrade:hover {
      cursor: pointer; }
  .sidebar__admin-options {
    margin-top: 3.57143rem;
    list-style-type: none; }
    .sidebar__admin-options a {
      text-decoration: none;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      padding: 0.71429rem;
      border-radius: 0.35714rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: var(--primary-text-color);
      transition: background-color 0.8s ease-in-out; }
      .sidebar__admin-options a:hover {
        background-color: var(--new-users-bg); }
      .sidebar__admin-options a:active {
        background-color: var(--active-bg-color); }
    .sidebar__admin-options--home__img, .sidebar__admin-options--transactions__img, .sidebar__admin-options--sales__img, .sidebar__admin-options--products__img, .sidebar__admin-options--users__img, .sidebar__admin-options--analysis__img {
      width: 1rem;
      height: 1rem;
      fill: var(--primary-text-color); }
    .sidebar__admin-options [class^="number"] {
      background-color: var(--upgrade-button-color);
      padding: 0.21429rem 0.71429rem;
      border-radius: 0.71429rem; }
    .sidebar__admin-options [class$="sold"] {
      background-color: var(--dark-red-color); }

.sidebar2__admin {
  background: var(--sidebar-color);
  color: var(--primary-text-color);
  padding: 1.42857rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  z-index: 500;
  width: 20rem;
  transition: all 3s ease-in; }
  .sidebar2__admin-close {
    font-size: 3rem;
    position: fixed;
    top: -0.6rem;
    display: flex;
    align-self: flex-end; }
    .sidebar2__admin-close a {
      text-decoration: none;
      color: #fff; }
    .sidebar2__admin-close:hover {
      cursor: pointer; }
  .sidebar2__admin-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sidebar2__admin-email, .sidebar2__admin-name {
    text-align: center; }
  .sidebar2__admin-photo {
    width: 9rem;
    height: 9rem;
    border: 0.14286rem solid transparent;
    border-radius: 0.71429rem;
    margin: 0 auto; }
    .sidebar2__admin-photo img {
      width: 100%;
      height: 100%;
      border-radius: 0.71429rem;
      text-align: center; }
  .sidebar2__admin-upgrade {
    border: none;
    text-align: center;
    padding: 0.71429rem 1rem;
    background-color: var(--upgrade-button-color);
    color: var(--primary-text-color);
    margin-top: 1rem;
    border-radius: 0.35714rem;
    font-weight: bold; }
  .sidebar2__admin-options {
    margin-top: 3.57143rem;
    list-style-type: none; }
    .sidebar2__admin-options a {
      text-decoration: none;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      padding: 0.35714rem 1.42857rem;
      border-radius: 0.35714rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: var(--primary-text-color); }
      .sidebar2__admin-options a:active {
        background-color: var(--active-bg-color); }
    .sidebar2__admin-options--home__img, .sidebar2__admin-options--transactions__img, .sidebar2__admin-options--sales__img, .sidebar2__admin-options--products__img, .sidebar2__admin-options--users__img, .sidebar2__admin-options--analysis__img {
      width: 1rem;
      height: 1rem;
      fill: var(--primary-text-color); }
    .sidebar2__admin-options [class^="number"] {
      background-color: var(--upgrade-button-color);
      padding: 0.21429rem 0.71429rem;
      border-radius: 0.71429rem; }
    .sidebar2__admin-options [class$="sold"] {
      background-color: var(--dark-red-color); }

.sidebar {
  background-color: var(--sidebar-color);
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1; }

.analysis {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: [sidebar-start] 12rem [sidebar-end full-start] minmax(1.5rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(1.5rem, 1fr) [full-end]; }
  .analysis__heading {
    background-color: #fff;
    grid-column: full-start/full-end; }
  .analysis__box {
    background-color: green;
    grid-column: center-start/center-end;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px; }
    .analysis__box-visits {
      background: red; }
    .analysis__box-sales {
      background: #773b3b; }
    .analysis__box-deliveries {
      background: #4b3a3a; }
    .analysis__box-bounce {
      background: #9d5454; }
  .analysis__users {
    grid-column: center-start / center-end;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .analysis__users-daily {
      background: gray;
      grid-column: 1/6;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-row: 1/-1;
      grid-gap: 20px; }
    .analysis__users-monthly {
      background-color: green;
      grid-column: 6/-1;
      display: grid;
      grid-row: 1 / 3; }
  .analysis__deliveries {
    grid-column: center-start / center-end;
    margin: 20px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr); }
    .analysis__deliveries-daily {
      background-color: red;
      grid-column: 1/6; }
    .analysis__deliveries-product {
      background-color: green;
      grid-column: 6/-1; }
  .analysis__sales {
    grid-column: center-start / center-end;
    margin: 20px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, 1fr); }
    .analysis__sales-daily {
      background-color: black;
      grid-column: 1/6; }
    .analysis__sales-monthly {
      grid-column: 6/-1;
      background: red; }

.orders {
  margin: 1.42858rem; }
  .orders__heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.71429rem;
    margin-bottom: 1.42858rem; }
  .orders__export {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .orders__export a {
      text-decoration: none; }
    .orders__export-print {
      background-color: var(--upgrade-button-color);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.35714rem; }
      .orders__export-print--img {
        width: 1.5rem;
        height: 1.5rem; }
        .orders__export-print--img__icon {
          width: 100%;
          height: 100%;
          fill: white; }
      .orders__export-print--text {
        color: var(--primary-text-color);
        font-weight: bold; }
  .orders__search {
    margin: 1.42858rem 0px;
    display: flex;
    justify-content: flex-end; }
    .orders__search [type="search"] {
      padding: 0.71429rem;
      border: 1px solid #ccc;
      box-shadow: 0.21429rem 0.21429rem 0.71429rem 0.42857rem #ccc; }
      .orders__search [type="search"]:focus {
        border: 1px solid #ddd;
        outline: 0; }

.orders__details {
  width: 100%;
  border-collapse: collapse; }
  .orders__details th,
  .orders__details td {
    padding: 0.85714rem 1.07143rem;
    border: 1px solid #ddd;
    text-align: center; }
  .orders__details [data-label="Image"] {
    width: 3.5rem;
    height: 3.5rem; }
    .orders__details [data-label="Image"] img {
      width: 100%; }
  .orders__details [data-label="Status"] {
    color: var(--primary-text-color); }
    .orders__details [data-label="Status"] .orders__status-delivered {
      background-color: var(--upgrade-button-color);
      border-radius: 0.35714rem;
      padding: 0.35714rem;
      font-weight: bold; }
    .orders__details [data-label="Status"] .orders__status-pending {
      background-color: var(--new-users-bg);
      border-radius: 0.35714rem;
      padding: 0.35714rem;
      font-weight: bold; }
    .orders__details [data-label="Status"] .orders__status-canceled {
      background-color: var(--dark-red-color);
      border-radius: 0.35714rem;
      padding: 0.35714rem;
      font-weight: bold; }
  .orders__details-heading {
    background-color: var(--sidebar-color);
    color: var(--primary-text-color); }
  .orders__details-body tr:nth-child(even) {
    background-color: var(--light-gray); }
  .orders__details-body tr:nth-child(odd) {
    background-color: var(--primary-text-color); }

@media screen and (max-width: 600px) {
  .orders__details-heading {
    display: none; }
  .orders__details,
  .orders__details-body,
  .orders__details tr,
  .orders__details td {
    display: block;
    width: 100%; }
    .orders__details [data-label="Email"],
    .orders__details-body [data-label="Email"],
    .orders__details tr [data-label="Email"],
    .orders__details td [data-label="Email"] {
      padding-left: 0; }
    .orders__details [data-label="Image"],
    .orders__details-body [data-label="Image"],
    .orders__details tr [data-label="Image"],
    .orders__details td [data-label="Image"] {
      width: auto;
      height: auto; }
  .orders__details tr {
    margin-bottom: 1.78571rem;
    border-radius: 0.71429rem;
    border: 0.14286rem solid #ddd; }
  .orders__details td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem; }
  .orders__details td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.07143rem;
    font-weight: bold;
    text-align: left; }
  .orders__details [data-label="Status"] {
    color: inherit; }
    .orders__details [data-label="Status"] .orders__status-delivered {
      width: 5rem;
      border-radius: 0.71429rem;
      margin-left: auto;
      margin-right: 0;
      padding-left: 0;
      padding: 0.71429rem 0.71429rem;
      color: var(--primary-text-color); }
    .orders__details [data-label="Status"] .orders__status-pending {
      background-color: var(--new-users-bg);
      width: 4.5rem;
      border-radius: 0.71429rem;
      margin-left: auto;
      margin-right: 0;
      padding: 0.71429rem;
      color: var(--primary-text-color); }
    .orders__details [data-label="Status"] .orders__status-canceled {
      width: 5rem;
      border-radius: 0.71429rem;
      margin-left: auto;
      margin-right: 0;
      padding-left: 0;
      padding: 0.71429rem 0.71429rem;
      color: var(--primary-text-color); } }

.category {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  .category__heading {
    grid-column: center-start / center-end;
    padding-top: 2rem;
    padding-bottom: 1rem; }
    .category__heading-item {
      grid-column: center-start / center-end;
      padding-top: 5rem;
      padding-bottom: 1rem; }
  .category-men, .category-women, .category-children, .category-shoes, .category-accessories {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 3rem; }
    .category-men__item, .category-women__item, .category-children__item, .category-shoes__item, .category-accessories__item {
      background-color: #fff;
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2), 0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      border-radius: 0.71429rem;
      position: relative; }
      .category-men__item-img, .category-women__item-img, .category-children__item-img, .category-shoes__item-img, .category-accessories__item-img {
        width: 100%;
        height: 15rem;
        border-radius: 0.71429rem 0.71429rem 0px 0px; }
        .category-men__item-img img, .category-women__item-img img, .category-children__item-img img, .category-shoes__item-img img, .category-accessories__item-img img {
          width: 100%;
          height: 100%;
          border-radius: 0.71429rem 0.71429rem 0px 0px; }
      .category-men__item-details, .category-women__item-details, .category-children__item-details, .category-shoes__item-details, .category-accessories__item-details {
        background-color: #fbf5f5;
        border-radius: 0px 0px 0.71429rem 0.71429rem; }
        .category-men__item-details--name, .category-women__item-details--name, .category-children__item-details--name, .category-shoes__item-details--name, .category-accessories__item-details--name {
          padding: 0.71429rem;
          font-size: 1rem; }
        .category-men__item-details--description, .category-women__item-details--description, .category-children__item-details--description, .category-shoes__item-details--description, .category-accessories__item-details--description {
          padding: 0px 0.71429rem;
          font-size: 0.8rem;
          color: var(--description-color); }
        .category-men__item-details--price, .category-women__item-details--price, .category-children__item-details--price, .category-shoes__item-details--price, .category-accessories__item-details--price {
          padding: 0px 0.71429rem 0.71429rem 0.71429rem;
          font-size: 0.8rem; }
      .category-men__item-remove, .category-women__item-remove, .category-children__item-remove, .category-shoes__item-remove, .category-accessories__item-remove {
        width: 1rem;
        height: 1rem;
        position: absolute;
        bottom: 1rem;
        right: 0.5rem;
        transition: all 1s ease-in-out; }
        .category-men__item-remove:hover, .category-women__item-remove:hover, .category-children__item-remove:hover, .category-shoes__item-remove:hover, .category-accessories__item-remove:hover {
          cursor: pointer;
          transform: scale(1.3); }
        .category-men__item-remove__icon, .category-women__item-remove__icon, .category-children__item-remove__icon, .category-shoes__item-remove__icon, .category-accessories__item-remove__icon {
          width: 100%;
          height: 100%;
          fill: var(--dark-red-color); }
  .category-women {
    grid-column: center-start / center-end; }
  .category-children {
    grid-column: center-start / center-end; }
  .category-leathers {
    grid-column: center-start / center-end; }
  .category-accessories {
    grid-column: center-start / center-end; }

.sales {
  margin: 1.42857rem; }
  .sales__heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.71429rem;
    margin-bottom: 1.42857rem; }
  .sales__export {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .sales__export a {
      text-decoration: none; }
    .sales__export-print {
      background-color: var(--upgrade-button-color);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.35714rem; }
      .sales__export-print--img {
        width: 1.5rem;
        height: 1.5rem; }
        .sales__export-print--img__icon {
          width: 100%;
          height: 100%;
          fill: white; }
      .sales__export-print--text {
        color: var(--primary-text-color);
        font-weight: bold; }
  .sales__search {
    margin: 1.42857rem 0px;
    display: flex;
    justify-content: flex-end; }
    .sales__search [type="search"] {
      padding: 0.71429rem;
      border: 1px solid #ccc;
      box-shadow: 0.21429rem 0.21429rem 0.71429rem 0.42857rem #ccc; }
      .sales__search [type="search"]:focus {
        border: 1px solid #ddd;
        outline: 0; }

.sales__details {
  width: 100%;
  border-collapse: collapse; }
  .sales__details th,
  .sales__details td {
    padding: 0.85714rem 1.07142rem;
    border: 1px solid #ddd;
    text-align: center; }
  .sales__details [data-label="Image"] {
    width: 3.5rem;
    height: 3.5rem; }
    .sales__details [data-label="Image"] img {
      width: 100%;
      height: 100%; }
  .sales__details [data-label="Payment Status"] {
    color: var(--primary-text-color); }
    .sales__details [data-label="Payment Status"] .payment__status-paid {
      background-color: var(--upgrade-button-color);
      width: 4rem;
      border-radius: 0.71429rem;
      margin-left: auto;
      margin-right: auto;
      padding: 0.71429rem;
      font-weight: bold; }
    .sales__details [data-label="Payment Status"] .payment__status-pending {
      background-color: var(--new-users-bg);
      width: 5rem;
      border-radius: 0.71429rem;
      margin-left: auto;
      margin-right: auto;
      padding: 0.71429rem;
      font-weight: bold; }
  .sales__details-heading {
    background-color: var(--sidebar-color);
    color: var(--primary-text-color); }
  .sales__details-body tr:nth-child(even) {
    background-color: var(--light-gray); }
  .sales__details-body tr:nth-child(odd) {
    background-color: var(--primary-text-color); }

@media screen and (max-width: 37.5em) {
  .sales__details-heading {
    display: none; }
  .sales__details,
  .sales__details-body,
  .sales__details tr,
  .sales__details td {
    display: block;
    width: 100%; }
  .sales__details tr {
    margin-bottom: 1.78571rem;
    border-radius: 0.71429rem;
    border: 0.14286rem solid #ddd; }
  .sales__details td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem; }
  .sales__details td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.07142rem;
    font-weight: bold;
    text-align: left; }
  .sales__details [data-label="Image"] {
    width: auto;
    height: auto; }
  .sales__details [data-label="Email"] {
    padding-left: 0; }
  .sales__details [data-label="Payment Status"] {
    color: inherit;
    padding-left: 70%; }
    .sales__details [data-label="Payment Status"] .payment__status-paid {
      width: 3rem;
      border-radius: 0.71429rem;
      margin-left: auto;
      margin-right: 0;
      padding: 0.71429rem;
      color: var(--primary-text-color); }
    .sales__details [data-label="Payment Status"] .payment__status-pending {
      background-color: var(--new-users-bg);
      width: 4.5rem;
      border-radius: 0.71429rem;
      margin-left: auto;
      margin-right: 0;
      padding: 0.71429rem;
      color: var(--primary-text-color); } }

.users {
  margin: 1.42857rem; }
  .users__heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.71429rem;
    margin-bottom: 2.85714rem; }
  .users__export {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .users__export a {
      text-decoration: none; }
    .users__export-print {
      background-color: var(--upgrade-button-color);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.35714rem; }
      .users__export-print--img {
        width: 1.5rem;
        height: 1.5rem; }
        .users__export-print--img__icon {
          width: 100%;
          height: 100%;
          fill: white; }
      .users__export-print--text {
        color: var(--primary-text-color);
        font-weight: bold; }
  .users__search {
    margin: 1.42858rem 0px;
    display: flex;
    justify-content: flex-end; }
    .users__search [type="search"] {
      padding: 0.71429rem;
      border: 1px solid #ccc;
      box-shadow: 0.21429rem 0.21429rem 0.71429rem 0.42857rem #ccc; }
      .users__search [type="search"]:focus {
        border: 1px solid #ddd;
        outline: 0; }
  .users__details {
    margin-top: 2.85714rem;
    width: 100%;
    border-collapse: collapse; }
    .users__details td,
    .users__details th {
      padding: 0.85714rem 1.07142rem;
      border: 1px solid #ddd;
      text-align: center; }
    .users__details-heading {
      background-color: var(--sidebar-color);
      color: var(--primary-text-color); }
    .users__details-body tr:nth-child(even) {
      background-color: var(--light-gray); }
    .users__details-body tr:nth-child(odd) {
      background-color: var(--primary-text-color); }

@media screen and (max-width: 37.5em) {
  .users__details-heading,
  .sidebar__admin {
    display: none; }
  .users__details,
  .users__details-body,
  .users__details tr,
  .users__details td {
    display: block;
    width: 100%; }
    .users__details [data-label="Email"],
    .users__details-body [data-label="Email"],
    .users__details tr [data-label="Email"],
    .users__details td [data-label="Email"] {
      padding-left: 0; }
  .users__details tr {
    margin-bottom: 1.78571rem; }
  .users__details td {
    text-align: right;
    padding-left: 50%;
    position: relative; }
  .users__details td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.07142rem;
    font-weight: bold;
    text-align: left; } }
