:root {
  //COLORS
  --sidebar-color: #0a1727;
  --admin-body-color: #eaeff8;
  --upgrade-button-color: #19d895;
  --primary-text-color: #fff;
  --active-bg-color: #2196f3;
  --description-color: #87a1c9;
  --light-gray: #f2f2f2;

  --new-orders-bg: #8862e0;
  --income-bg: #19d895;
  --expenses-bg: #2196f3;
  --new-users-bg: #ffaf00;

  --violet-bg: #7042da;
  --dark-red-color: #ff6258;
  --divider: #dee2e6;
}
