.container {
  display: grid;
  grid-template-columns: 12rem [full-start] 1fr [full-end];
  position: relative;

  @media screen and (max-width: 56.25em) {
    grid-template-columns: 1fr;
  }
}

.dashboard {
  margin: 1.42857rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 43.75em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.42857rem;
  }

  @media screen and (max-width: 31.5em) {
    margin: 0.71429rem 2.85714rem;
  }

  &__title {
    @media screen and (max-width: 43.75em) {
      grid-column: 1/-1;
    }

    &-01 {
      color: var(--description-color);
    }
  }
  &__time {
    align-items: center;

    & > * {
      padding: 0.57143rem 0.71429rem;
      border: none;
      background-color: white;

      &:not(:nth-child(1)) {
        border-left: 0.14286rem solid var(--divider);
      }

      &:not(:nth-child(1)) {
        margin-left: -0.35714rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__date {
    align-items: center;
    @media screen and (max-width: 43.75em) {
      display: flex;
      justify-content: center;
    }

    & > * {
      padding: 0.71429rem;
      border: none;
      background-color: white;

      &:not(:nth-child(1)) {
        border-left: 0.14286rem solid var(--divider);
      }

      &:not(:nth-child(1)) {
        margin-left: -0.35714rem;
      }
    }

    &-day {
      font-size: 0.9rem;

      &:hover {
        cursor: pointer;
      }
    }

    &-prev {
      &__icon {
        width: 0.8rem;
        height: 0.8rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-next {
      &__icon {
        width: 0.8rem;
        height: 0.8rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.analytics {
  margin: 1.42857rem;
  grid-column: full-start/full-end;
  grid-gap: 1.42857rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

  @media screen and (max-width: 31.5em) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 2.85714rem;
    grid-gap: 2.85714rem;
  }

  &__new-orders {
    background-color: var(--new-orders-bg);
    padding: 2.14286rem 2.85714rem;
    position: relative;
    padding: 2.85714rem 2.14286rem 1.42857rem 2.14286rem;
    border-radius: 0.35714rem;
    transition: transform 0.6s ease-in-out;

    &:hover {
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2),
        0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.06);
    }

    &--heading {
      text-transform: uppercase;
      font-size: 0.6rem;
    }

    &--numbers {
      color: var(--primary-text-color);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }

    &--rate {
      color: var(--primary-text-color);
    }

    &--img {
      background: white;
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0.9rem;
      border-radius: 50%;

      &__icon {
        width: 100%;
        height: 100%;
        fill: var(--new-orders-bg);
      }
    }

    &--pix {
      padding-top: 1rem;

      img {
        width: 100%;
      }
    }
  }

  &__income {
    padding: 2.14286rem 2.85714rem;
    background-color: var(--income-bg);
    padding: 2.85714rem 2.14286rem 1.42857rem 2.14286rem;
    position: relative;
    border-radius: 0.35714rem;
    transition: transform 0.6s ease-in-out;

    &:hover {
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2),
        0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.06);
    }

    &--heading {
      text-transform: uppercase;
      font-size: 0.6rem;
    }

    &--numbers {
      color: var(--primary-text-color);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }

    &--rate {
      color: var(--primary-text-color);
    }

    &--img {
      background: white;
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0.8rem;
      border-radius: 50%;

      &__icon {
        width: 100%;
        height: 100%;
        fill: var(--income-bg);
      }
    }

    &--pix {
      padding-top: 1rem;

      img {
        width: 100%;
      }
    }
  }

  &__expenses {
    padding: 2.14286rem 2.85714rem;
    background-color: var(--expenses-bg);
    padding: 2.85714rem 2.14286rem 1.42857rem 2.14286rem;
    position: relative;
    border-radius: 0.35714rem;
    transition: transform 0.6s ease-in-out;

    &:hover {
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2),
        0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.06);
    }

    &--heading {
      text-transform: uppercase;
      font-size: 0.6rem;
    }

    &--numbers {
      color: var(--primary-text-color);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }

    &--rate {
      color: var(--primary-text-color);
    }

    &--img {
      background: white;
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0.8rem;
      border-radius: 50%;

      &__icon {
        width: 100%;
        height: 100%;
        fill: var(--expenses-bg);
      }
    }

    &--pix {
      padding-top: 1rem;

      img {
        width: 100%;
      }
    }
  }

  &__new-users {
    padding: 2.14286rem 2.85714rem;
    background-color: var(--new-users-bg);
    padding: 2.85714rem 2.14286rem 1.42857rem 2.14286rem;
    position: relative;
    border-radius: 0.35714rem;

    transition: transform 0.6s ease-in-out;

    &:hover {
      box-shadow: 0 0.28571rem 0.57143rem 0 rgba(0, 0, 0, 0.2),
        0 0.42857rem 1.42857rem 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.06);
    }

    &--heading {
      text-transform: uppercase;
      font-size: 0.6rem;
    }

    &--numbers {
      color: var(--primary-text-color);
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }

    &--rate {
      color: var(--primary-text-color);
    }

    &--img {
      background: white;
      display: flex;
      align-items: center;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      padding: 0.9rem;
      border-radius: 50%;

      &__icon {
        width: 100%;
        height: 100%;
        fill: var(--new-users-bg);
      }
    }

    &--pix {
      padding-top: 1rem;

      img {
        width: 100%;
      }
    }
  }
}

.summary {
  display: grid;
  row-gap: 3.57143rem;
  grid-template-columns:
    1.42857rem repeat(2, 1fr) 1.42857rem repeat(2, 1fr)
    1.42857rem repeat(2, 1fr) 1.42857rem repeat(2, 1fr);
  grid-template-rows: 2.85714rem repeat(3, 1fr);
  margin-right: 1.42857rem;

  @media screen and (max-width: 54.375em) {
    display: flex;
    flex-direction: column;
    margin: 1.42857rem 2.85714rem;
  }

  &__revenue {
    grid-column: 2/7;
    grid-row: 1/5;
    padding: 0.71429rem 2.85714rem;
    background-color: var(--primary-text-color);

    @media screen and (max-width: 56.25em) {
      grid-column: 1/7;
      margin-left: 1.42857rem;
    }

    @media screen and (max-width: 54.375em) {
      margin-left: 0;
    }

    &-title {
      margin-left: -2.85714rem;
      margin-right: -2.85714rem;
      padding: 1.07143rem 2.85714rem;
      font-weight: bold;
      font-size: 1.2rem;
      border-bottom: 0.07143rem solid #ccc;
    }

    &-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1.42857rem;
      grid-gap: 0.71429rem;

      &--product {
        padding: 0.71429rem 1.42857rem;
        text-align: center;
        font-size: 1.2rem;

        @media screen and (max-width: 56.25em) {
          padding: 0.71429rem 0;
        }
      }

      &--sales {
        padding: 0.71429rem 1.42857rem;
        text-align: center;
        font-size: 1.2rem;
      }

      &--costs {
        padding: 0.71429rem 1.42857rem;
        text-align: center;
        font-size: 1.2rem;
      }

      &--revenue {
        grid-column: 2/3;
        padding: 0.71429rem 1.42857rem;
        font-size: 1.2rem;
        text-align: center;
      }
    }

    &-img {
      grid-column: 2/6;

      img {
        width: 100%;
      }
    }
  }

  &__tops {
    grid-column: 8/13;
    grid-row: 1/5;
    padding: 0.71429rem 2.85714rem;
    background-color: #fff;

    &-title {
      margin-left: -2.85714rem;
      margin-right: -2.85714rem;
      padding: 1.07143rem 2.85714rem;
      font-size: 1.2rem;
      border-bottom: 0.07143rem solid #ccc;
    }

    &-info {
      display: grid;
      grid-gap: 1.42857rem;
      grid-template-columns: 1fr 3fr 1fr;
      margin-left: -2.85714rem;
      margin-right: -2.85714rem;
      padding: 1.42857rem 1.07143rem 2.85714rem 2.85714rem;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 0.07143rem solid #ccc;
      }

      &--img {
        grid-column: 1/2;
        border: 0.07143rem solid #ccc;

        img {
          width: 100%;
          height: 100%;
          padding: 0.71429rem;
        }
      }

      &--item {
        &__name {
          display: flex;
          align-items: flex-end;

          &-rating {
            width: 1rem;
            height: 1rem;

            &__icon {
              width: 100%;
            }
          }
        }
      }

      &--priceList {
        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// ACTIVITIES SECTION
.activities {
  margin: 1.42857rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.42857rem;

  @media screen and (max-width: 56.25em) {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2.85714rem;
    margin-right: 2.85714rem;
  }

  @media screen and (max-width: 37.5em) {
    grid-template-columns: 1fr;
  }
  &__order1 {
    background-color: #fff;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.42857rem 2.85714rem;
      border-bottom: 0.07143rem solid #ccc;
    }

    &-delivered {
      display: grid;
      grid-template-columns: 1fr 2fr 3fr;
      grid-gap: 2.14286rem;
      padding: 1.42857rem 1.42857rem 1.42857rem 2.85714rem;

      &--img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  &__recent {
    background-color: #fff;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.42857rem 2.85714rem;
      border-bottom: 0.07143rem solid #ccc;
    }

    &-product {
      padding: 1.42857rem 1.42857rem 1.42857rem 2.85714rem;

      &--name {
        padding-top: 1.42857rem;
        padding-bottom: 1.42857rem;
      }

      &--img {
        height: 8rem;
        width: 14rem;
        border-radius: 0.35714rem;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0.35714rem;
        }
      }

      &--description {
        margin-top: 2.14286rem;
        margin-bottom: 2.14286rem;
      }

      &--broughtIn {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        align-items: center;
        grid-gap: 0.35714rem;

        a {
          text-decoration: none;
        }

        [class^="online"] {
          border: none;
          background-color: var(--violet-bg);
          color: var(--primary-text-color);
          padding: 0.35714rem 0.71429rem;
          border-radius: 2.85714rem;

          &:hover {
            cursor: pointer;
          }
        }

        [class^="customer"] {
          border: none;
          background-color: var(--dark-red-color);
          color: var(--primary-text-color);
          padding: 0.35714rem 0.71429rem;
          border-radius: 2.85714rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__order2 {
    background-color: #fff;
    @media screen and (max-width: 56.25em) {
      grid-column: 1/-1;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.42857rem 2.85714rem;
      border-bottom: 0.07143rem solid #ccc;
    }

    &-customer {
      display: grid;
      grid-template-columns: 1fr 3fr 2fr;
      padding: 0.71429rem 2.14286rem 0.71429rem 2.85714rem;
      grid-gap: 1.42857rem;
      align-items: center;
      margin-top: 0.71429rem;
      margin-bottom: 0.71429rem;

      &--profile-pix {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      &--info {
        &__name {
          font-weight: bold;
        }

        &__id {
          color: gray;
        }
      }

      &--itemsImage {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__image1 {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 0.35714rem;
          margin-right: 0.35714rem;

          img {
            width: 100%;
            height: 100%;
            border-radius: 0.35714rem;
          }
        }

        &__image2 {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 0.35714rem;

          img {
            width: 100%;
            height: 100%;
            border-radius: 0.35714rem;
          }
        }
      }
    }
  }
}

.product {
  margin: 1.42857rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.42857rem;

  @media screen and (max-width: 47.5em) {
    grid-template-columns: 1fr;
    margin-left: 2.85714rem;
    margin-right: 2.85714rem;
  }

  &-category {
    background-color: var(--primary-text-color);
    padding-top: 2.85714rem;

    &__name {
      text-align: center;
    }

    &__image {
      text-align: center;
      margin: 1.42857rem auto;
      width: 12rem;
      height: 12rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__description {
      text-align: center;
    }

    &__action {
      margin: 1.42857rem 2.85714rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-price--initial {
        color: var(--description-color);
        text-decoration: line-through;
      }

      .addCart {
        border: none;
        padding: 0.7143rem;
        border-radius: 0.35714rem;
        color: var(--primary-text-color);
        background-color: var(--active-bg-color);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.sold-products {
  margin: 1.42857rem;

  @media screen and (max-width: 47.5em) {
    margin-left: 2.85714rem;
    margin-right: 2.85714rem;
  }
  &__title {
    background-color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.85714rem;
    padding-right: 2.85714rem;
    padding-top: 1.42857rem;
    padding-bottom: 1.42857rem;

    a {
      text-decoration: none;
    }

    &-action {
      display: flex;
      padding: 0.35714rem 1.42857rem;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      color: var(--description-color);
      border: 0;

      &:hover {
        cursor: pointer;
      }

      &--img {
        width: 1.5rem;
        height: 1.5rem;
        padding-right: 0.5rem;

        &-icon {
          width: 100%;
          height: 100%;
          fill: var(--dark-red-color);
        }
      }
    }
  }

  &__table {
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    background-color: #fff;
    border-top: 0.07143rem solid var(--divider);
    border-right: 0.07143rem solid var(--divider);

    @media screen and (max-width: 37.5em) {
      display: flex;
      flex-direction: column;
    }

    & > * {
      border-right: 0.07143rem solid var(--divider);
      padding: 0.71429rem 1.42857rem;
    }
  }

  &__tables {
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    border-right: 0.07143rem solid var(--divider);

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }

    & > * {
      padding: 1rem;
      display: flex;
      align-items: center;
      border-bottom: 0.07143rem solid var(--divider);
      border-top: 0.07143rem solid var(--divider);
      border-right: 0.07143rem solid var(--divider);
    }

    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(8) {
      background: white;
    }

    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(7) {
      background-color: var(--light-gray);
    }
  }
}

.sold-products__img {
  border: 3px solid black;
  height: 2.5rem;
  width: 2.5rem;
}

.sold-products__tables-name {
  display: flex;
  align-items: center;
  padding-left: 1rem;

  & > * {
    margin-right: 1.42857rem;
  }
}

.sold-products__tables-name--img {
  height: 3rem;
  width: 3rem;
  border: 0.07143rem solid #ccc;
  padding: 0.35714rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.sold-products__details {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 1.16667rem 1.07143rem;
    border: 0.07143rem solid #ddd;
    text-align: center;
  }
  .product-name {
    display: flex;
    align-items: center;

    & > * {
      margin: 0.71429rem;
    }
  }

  .image-product {
    width: 3rem;
    height: 3rem;
    border: 0.07143rem solid #ccc;
    padding: 0.35714rem;

    .image {
      width: 100%;
      height: 100%;
    }
  }

  &-body tr:nth-child(even) {
    background-color: var(--light-gray);
  }
  &-body tr:nth-child(odd) {
    background-color: var(--primary-text-color);
  }
}

//MEDIA QUERY
@media screen and (max-width: 37.5em) {
  .sold-products__details-heading {
    display: none;
  }

  .checkbox {
    display: none;
  }
  .sold-products__details,
  .sold-products__details-body,
  .sold-products__details tr,
  .sold-products__details td {
    display: block;
    width: 100%;
  }

  .sold-products__details tr {
    margin-bottom: 1.78571rem;
    border-radius: 0.71429rem;
    border: 0.14286rem solid #ddd;
  }

  .sold-products__details td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .sold-products__details td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.07143rem;
    font-weight: bold;
    text-align: left;
  }
}
