.users {
  margin: 1.42857rem;

  &__heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.71429rem;
    margin-bottom: 2.85714rem;
  }

  &__export {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      text-decoration: none;
    }
    &-print {
      background-color: var(--upgrade-button-color);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.35714rem;

      &--img {
        width: 1.5rem;
        height: 1.5rem;

        &__icon {
          width: 100%;
          height: 100%;
          fill: white;
        }
      }
      &--text {
        color: var(--primary-text-color);
        font-weight: bold;
      }
    }
  }

  &__search {
    margin: 1.42858rem 0px;
    display: flex;
    justify-content: flex-end;

    [type="search"] {
      padding: 0.71429rem;
      border: 1px solid #ccc;
      box-shadow: 0.21429rem 0.21429rem 0.71429rem 0.42857rem #ccc;

      &:focus {
        border: 1px solid #ddd;
        outline: 0;
      }
    }
  }

  &__details {
    margin-top: 2.85714rem;
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      padding: 0.85714rem 1.07142rem;
      border: 1px solid #ddd;
      text-align: center;
    }

    &-heading {
      background-color: var(--sidebar-color);
      color: var(--primary-text-color);
    }

    &-body tr:nth-child(even) {
      background-color: var(--light-gray);
    }
    &-body tr:nth-child(odd) {
      background-color: var(--primary-text-color);
    }
  }
}

//MEDIA QUERY
@media screen and (max-width: 37.5em) {
  .users__details-heading,
  .sidebar__admin {
    display: none;
  }

  .users__details,
  .users__details-body,
  .users__details tr,
  .users__details td {
    display: block;
    width: 100%;

    [data-label="Email"] {
      padding-left: 0;
    }
  }

  .users__details tr {
    margin-bottom: 1.78571rem;
  }

  .users__details td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .users__details td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.07142rem;
    font-weight: bold;
    text-align: left;
  }
}
